* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
}

h1 {
    font-family: "Lato";
    font-weight: 700;
    color: #4F4F4F;
}

h2,
h3 {
    font-family: "Mulish";
    font-weight: 700;
}

h4 {
    font-family: "Mulish";
    font-weight: 600;
}

li {
    font-family: "Mulish";
    font-weight: 400;
}

.page-home {
    min-height: 100vh;
}

.footer-text {
    font-family: "Mulish";
}


.btn {
    font-family: "Mulish";
    margin: 1rem;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: #4F4F4F;
    transition: 1s;
}

.btn:hover {
    text-decoration: underline;
    font-size: x-large
}





/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Блок 1. Меню */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.main-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 9rem;
    font-size: 56px;
}

.header-buttons {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 7rem;
    width: 100%;
}


.line {
    border-top: 2px solid black;
    width: 90%;
    margin-top: 1.8rem;
}

.line-design {
    border-top: 2px solid black;
    width: 100%;
    margin-top: 3rem;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Блок 2. Обложка */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.img-back {
    width: 100%;
    height: 100%;
}

.container-preview {
    background-image: url("/assets/home-background1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-preview {
    position: absolute;
    margin-top: 45%;
    width: 35%;
    height: 16rem;
}

.block-preview::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background: white;
    background-position: 50%;
    border-radius: 4px;
}

.preview-title {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
    color: #343434;
    text-align: center;
    font-size: 44px;
    padding: 2rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Стилизация 3 блока. Детали и опсание */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.design {
    display: flex;
    background-color: #C5D4F0;
    height: 100%;
    width: 100%;
}

.img-home {
    height: 30rem;
    width: 42rem;
}

.description {
    display: flex;
}


.design-page {
    display: flex;
    flex-direction: column;
    padding: 5rem;

}

.design-main {
    display: flex;

}

.design-img {
    margin: 5rem;
}


.description {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
}

.block-details {
    margin-top: 2rem;
}

.about-details {
    font-size: 44px;
    text-align: center;
}

.title-details {
    font-size: 36px;
    margin-bottom: 1rem;
    line-height: 56px;
}

.details {
    font-family: "Mulish";
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;

}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Блок 4. Блок с ссылкой на ютуб */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.video {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.video-title {
    font-size: 44px;
}

.youtube {
    margin-top: 2rem;
    height: 30rem;
    width: 50rem;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: 1.2s;
}

.link-youtube {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 44px;
    font-family: "Mulish";
    font-weight: 400;
    color: #4F4F4F;
    transition: 1.2s;
}

.youtube:hover {
    background-color: #373F41;
}

.link-youtube:hover {
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Блок 5. Блок с деталями. Описанием комнат, дома, паркинга. */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.description-page {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}

.details-box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 14rem;
}

.details-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #C5D4F0;

    height: 30rem;
    width: 38rem;
    padding: 3rem;
}

.details-title {
    font-size: 44px;

}

.details-list li {
    margin-left: 1.2rem;
    margin-top: 2rem;
    font-size: 24px;
}

.details-icon {
    background: black;
    height: 30rem;
    width: 32rem;
}

.icon-descripton {
    color: white;
    font-family: "Mulish";
}

.block-icons {
    padding: 5rem;
    text-align: center;
    width: 60%;
    height: 30rem;
}

.details-icon {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
    column-gap: 100px;
    row-gap: 100px;
}

.icons-img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon-descripton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left: 1.6rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Блок 6. стилизация футера */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.footer {
    width: 100%;
    height: 8rem;
    background-color: #373F41;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    color: #C3CBCD;
    font-size: 12px;
}

/* ---------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ВТОРАЯ ЧАСТЬ САЙТА, ЭКСТЕРЬЕР ДОМА */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------------------- */


/* Блок 1. Меню */

.main-title-exterior {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 9rem;
    font-size: 56px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Блок 2. Обложка */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.container-preview-exterior {
    background-image: url("/assets/exterior-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.block-preview-exterior {
    position: absolute;
    margin-top: 45%;
    width: 35%;
    height: 16rem;
}

.block-preview-exterior::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background: white;
    background-position: 50%;
    border-radius: 4px;
}

.preview-title-exterior {
    position: relative;
    z-index: 2;
    margin-top: 4rem;
    color: #343434;
    text-align: center;
    font-size: 44px;
    padding: 2rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Блок 3. Основной контент. Описание */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.exterior-img {
    height: 20rem;
    width: 34rem;
}

.exterior-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}

.exterior-description {
    display: flex;
    margin: 2rem;
}

.exterior-block {
    height: 20rem;
    width: 34rem;
    margin-left: 3rem;
}

.exterior-block-reverse {
    height: 20rem;
    width: 34rem;
    margin-right: 3rem;
}

.exterior-h3 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-family: "Mulish";
}

.exterior-span {
    font-size: 18px;
    line-height: 56px;
    font-family: "Mulish";
    font-weight: 400;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Третья часть сайта. Интерьер. Описание */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.interior-conteiner {
    display: flex;
}

.container-preview-interior {
    background-image: url("/assets/interior-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.block-preview-interior {
    position: absolute;
    margin-top: 45%;
    width: 35%;
    height: 16rem;
}

.block-preview-interior::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background: white;
    background-position: 50%;
    border-radius: 4px;
}

.preview-title-interior {
    position: relative;
    z-index: 2;
    margin-top: 4rem;
    color: #343434;
    text-align: center;
    font-size: 44px;
    padding: 2rem;
}

.interior-img {
    height: 20rem;
    width: 34rem;
}

.interior-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}

.interior-description {
    display: flex;
    margin: 2rem;
}

.interior-block {
    height: 20rem;
    width: 34rem;
    margin-left: 3rem;
}

.interior-block-reverse {
    height: 20rem;
    width: 34rem;
    margin-right: 3rem;
}

.interior-h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.interior-span {
    font-size: 18px;
    line-height: 56px;
    font-family: "Mulish";
    font-weight: 400;
}


/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для нетбука */
/* Адаптив для нетбука     СТРАНИЦА HOME */
/* Адаптив для нетбука */
/* --------------------------------------------------------------------------------------------------------------------- */


@media screen and (max-width: 1024px) {

    body,
    section {
        max-width: 1024px;
    }

    /* ПЕРВЫЙ БЛОК НЕ МЕНЯЮ */

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */

    .container-preview {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vh;
    }

    .main-title {
        height: 7rem;
        font-size: 46px;
    }


    .block-preview {
        height: 12rem;
    }

    .preview-title {
        font-size: 30px;
    }

    /* ----------------------------------------- */
    /* Третий блок */
    /* ----------------------------------------- */

    .img-home {
        height: 20rem;
        width: 32rem;
    }

    .design-page {
        padding: 2rem;
    }

    .design-img {
        margin: 3rem;
    }

    .description {
        margin-top: 3rem;
    }

    .block-details {
        margin-top: 1rem;
    }

    .about-details {
        font-size: 32px;
        text-align: center;
    }

    .title-details {
        font-size: 20px;
        margin-bottom: 1rem;
        line-height: 30px;
    }

    .details {
        font-size: 18px;
        line-height: 26px;
    }

    /* ЧЕТВЕРТЫЙ БЛОК НЕ МЕНЯЮ */

    /* ----------------------------------------- */
    /* Пятый блок */
    /* ----------------------------------------- */

    .details-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16rem;
    }

    .details-block {
        height: 26rem;
        width: 28rem;
        padding: 2.6rem;
    }

    .details-title {
        font-size: 36px;

    }

    .details-list li {
        margin-left: 1.2rem;
        margin-top: 2rem;
        font-size: 20px;
    }

    .details-icon {
        height: 26rem;
        width: 28rem;
    }


    .block-icons {
        padding: 4.5rem;
        width: 50%;
        height: 26rem;
    }

    .details-icon {
        display: grid;
        grid-template-columns: 180px 180px;
        grid-template-rows: 90px 90px;
        column-gap: 90px;
        row-gap: 90px;
    }

    .icon-descripton {
        font-size: 20px;
        margin-left: 1.6rem;
    }

    /* ---------------------------- */
    /* 6 БЛОК НЕ МЕНЯЮ */
    /* ---------------------------- */
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для планшета */
/* Адаптив для планшета     СТРАНИЦА HOME */
/* Адаптив для планшета */
/* --------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {

    body,
    section {
        max-width: 768px;
    }

    /* ПЕРВЫЙ БЛОК НЕ МЕНЯЮ */

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */
    .btn {
        font-size: 16px;
    }

    .container-preview {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 55vh;
    }

    .main-title {
        height: 5rem;
        font-size: 30px;
    }

    .block-preview {
        height: 10rem;
    }

    .preview-title {
        font-size: 20px;
    }

    /* ----------------------------------------- */
    /* Третий блок */
    /* ----------------------------------------- */

    .img-home {
        height: 16rem;
        width: 24rem;
    }

    .design-page {
        padding: 2rem;
    }

    .design-img {
        margin: 2rem;
    }

    .description {
        margin-top: 3rem;
    }

    .block-details {
        margin-top: 0.5rem;
    }

    .about-details {
        font-size: 26px;
        text-align: center;
    }

    .title-details {
        font-size: 16px;
        margin-bottom: 0.5rem;
        line-height: 24px;
    }

    .details {
        font-size: 14px;
        line-height: 20px;
    }

    /* ----------------------------------------- */
    /* Блок 4. Блок с ссылкой на ютуб */
    /* ----------------------------------------- */

    .youtube {
        margin-top: 2rem;
        height: 20rem;
        width: 40rem;
    }

    /* ----------------------------------------- */
    /* Пятый блок */
    /* ----------------------------------------- */

    .description-page {
        height: 18rem;
    }

    .details-box {
        margin-bottom: 16rem;
    }

    .details-block {
        height: 22rem;
        width: 20rem;
        padding: 3rem;
    }

    .details-title {
        font-size: 26px;
    }

    .details-list li {
        margin-left: 1.2rem;
        margin-top: 1.2rem;
        font-size: 16px;
    }

    .details-icon {
        height: 22rem;
        width: 20rem;
    }


    .block-icons {
        padding: 3.2rem;
        width: 30%;
        height: 22rem;
    }

    .details-icon {
        display: grid;
        grid-template-columns: 120px 120px;
        grid-template-rows: 60px 60px;
        column-gap: 50px;
        row-gap: 80px;
    }

    .icon-descripton {
        font-size: 14px;
        margin-left: 1.3rem;
    }


    /* ---------------------------- */
    /* 6 БЛОК НЕ МЕНЯЮ */
    /* ---------------------------- */
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для смартфона 480px */
/* Адаптив для смартфона 480px    СТРАНИЦА HOME */
/* Адаптив для смартфона 480px*/
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {

    body,
    section {
        max-width: 480px;
    }

    /* ПЕРВЫЙ БЛОК НЕ МЕНЯЮ */

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */
    .btn {
        font-size: 16px;
    }

    .container-preview {
        width: 100%;
        height: 45vh;
    }

    .main-title {
        height: 6rem;
        font-size: 30px;
    }

    .block-preview {
        margin-bottom: -4rem;
        height: 11rem;
    }

    .preview-title {
        font-size: 16px;
    }

    /* ----------------------------------------- */
    /* Третий блок */
    /* ----------------------------------------- */

    .img-home {
        height: 14rem;
        width: 22rem;
    }

    .design-page {
        padding: 2rem;
    }

    .design-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description {
        margin-top: 2rem;
    }

    .block-details {
        margin-top: 1rem;
    }

    .about-details {
        font-size: 26px;
        text-align: center;
        margin-top: -2rem;
    }

    .title-details {
        font-size: 16px;
        margin-bottom: 0.5rem;
        line-height: 24px;
    }

    .details {
        font-size: 14px;
        line-height: 20px;
    }

    /* ----------------------------------------- */
    /* Блок 4. Блок с ссылкой на ютуб */
    /* ----------------------------------------- */

    .youtube {
        margin-top: 2rem;
        height: 20rem;
        width: 30rem;
    }

    /* ----------------------------------------- */
    /* Блок 5 Пятый блок */
    /* ----------------------------------------- */

    .description-page {
        height: 36rem;
    }

    .details-box {
        margin-bottom: 16rem;
        display: flex;
        flex-direction: column;
    }

    .details-block {
        height: 22rem;
        width: 20rem;
        padding: 3rem;
    }

    .details-title {
        font-size: 26px;
    }

    .details-list li {
        margin-left: 1.2rem;
        margin-top: 1.2rem;
        font-size: 16px;
    }

    .details-icon {
        height: 22rem;
        width: 20rem;
    }


    .block-icons {
        padding: 3.2rem;
        width: 30%;
        height: 22rem;
    }

    .details-icon {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 60px 60px;
        column-gap: 80px;
        row-gap: 80px;
    }

    .icon-descripton {
        font-size: 14px;
        margin-left: 1.6rem;
    }


    /* ---------------------------- */
    /* 6 БЛОК  */
    /* ---------------------------- */

    .footer {
        height: 4rem;
    }

    .footer-text {
        height: 4rem;
    }
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для смартфона 320px */
/* Адаптив для смартфона 320px    СТРАНИЦА HOME */
/* Адаптив для смартфона 320px*/
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {

    body,
    section {
        max-width: 320px;
    }

    /* ----------------------------------------- */
    /*1 Блок */
    /* ----------------------------------------- */
    .btn {
        font-size: 14px;
    }

    /* ----------------------------------------- */
    /*2 Блок */
    /* ----------------------------------------- */
    .container-preview {
        width: 100%;
        height: 35vh;
    }

    .main-title {
        height: 6rem;
        font-size: 26px;
    }

    .block-preview {
        margin-top: 7.5rem;
        height: 10rem;
    }

    .preview-title {
        font-size: 10px;
    }

    /* ----------------------------------------- */
    /* 3  блок */
    /* ----------------------------------------- */

    .img-home {
        height: 11rem;
        width: 16rem;
    }

    .design-page {
        padding: 0rem;
        height: 37rem;
    }

    .design-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description {
        margin-top: 2rem;
        padding: 1rem;
    }

    .block-details {
        margin-top: 1rem;
    }

    .about-details {
        font-size: 20px;
        text-align: center;
        margin-top: -2rem;
    }

    .title-details {
        font-size: 14px;
        margin-bottom: 0.5rem;
        line-height: 24px;
    }

    .details {
        font-size: 12px;
        line-height: 12px;
    }

    /* ----------------------------------------- */
    /* Блок 4. Блок с ссылкой на ютуб */
    /* ----------------------------------------- */

    .youtube {
        margin-top: 2rem;
        height: 14rem;
        width: 20rem;
    }

    .video-title {
        font-size: 30px;
    }

    .link-youtube {
        font-size: 30px;
    }

    /* ----------------------------------------- */
    /* Блок 5 Пятый блок */
    /* ----------------------------------------- */

    .description-page {
        height: 36rem;
    }

    .details-box {
        margin-bottom: 16rem;
        display: flex;
        flex-direction: column;
    }

    .details-block {
        height: 22rem;
        width: 20rem;
        padding: 3rem;
    }

    .details-title {
        font-size: 26px;
    }

    .details-list li {
        margin-left: 1.2rem;
        margin-top: 1.2rem;
        font-size: 16px;
    }

    .details-icon {
        height: 22rem;
        width: 20rem;
    }


    .block-icons {
        padding: 3.2rem;
        width: 30%;
        height: 22rem;
    }

    .details-icon {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 60px 60px;
        column-gap: 80px;
        row-gap: 80px;
    }

    .icon-descripton {
        font-size: 14px;
        margin-left: 1.6rem;
    }


    /* ---------------------------- */
    /* 6 БЛОК  */
    /* ---------------------------- */

    .footer {
        height: 4rem;
    }

    .footer-text {
        height: 4rem;
    }
}


/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для нетбука */
/* Адаптив для нетбука     СТРАНИЦА EXTERIOR */
/* Адаптив для нетбука */
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {

    body,
    section {
        max-width: 1024px;
    }

    /* ПЕРВЫЙ БЛОК НЕ МЕНЯЮ */

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */

    .container-preview-exterior {
        height: 80vh;
    }

    .main-title-exterior {
        height: 7rem;
        font-size: 46px;
    }

    .block-preview-exterior {
        height: 12rem;
    }

    .preview-title-exterior {
        font-size: 30px;
        margin-top: 3rem;
    }

    /* ------------------------------------------------------------- */
    /* Третий блок  */
    /* ----------------------------------------------------------------- */

    .exterior-img {
        height: 16rem;
        width: 28rem;
    }

    .exterior-block {
        height: 20rem;
        width: 34rem;
        margin-left: 1rem;
    }

    .exterior-block-reverse {
        height: 20rem;
        width: 34rem;
        margin-right: 1rem;
    }

    .exterior-h3 {
        font-size: 20px;
        margin-bottom: 1rem;

    }

    .exterior-span {
        font-size: 18px;
        line-height: 40px;



    }

    /* ------------------------------------- */
    /* 4 футер  без изменений*/
    /* --------------------------------------- */
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для планшета */
/* Адаптив для планшета     СТРАНИЦА HOME */
/* Адаптив для планшета */
/* --------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {

    body,
    section {
        max-width: 768px;
    }

    /* ПЕРВЫЙ БЛОК */

    .btn {
        font-size: 16px;
    }

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */

    .container-preview-exterior {
        width: 100%;
        height: 30vh;
    }

    .main-title-exterior {
        height: 5rem;
        font-size: 30px;
    }

    .block-preview-exterior {
        height: 10rem;
    }

    .preview-title-exterior {
        margin-top: 2.5rem;
        font-size: 20px;
    }

    /* ----------------------------------------- */
    /* 3 блок */
    /* ----------------------------------------- */

    .exterior-img {
        height: 16rem;
        width: 24rem;
    }

    .exterior-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        max-width: 48rem;
    }

    .exterior-description {
        display: flex;
        margin: 1rem;
    }

    .exterior-block {
        height: 16rem;
        width: 20rem;
        margin-left: 1rem;
    }

    .exterior-block-reverse {
        height: 16rem;
        width: 20rem;
        margin-right: 1rem;
    }

    .exterior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .exterior-span {
        font-size: 16px;
        line-height: 30px;
    }

    /* 4 блок. футер не трогаю */

}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для смартфона 480px */
/* Адаптив для смартфона 480px    СТРАНИЦА HOME */
/* Адаптив для смартфона 480px*/
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {

    body,
    section {
        max-width: 480px;
    }

    /* ПЕРВЫЙ БЛОК */
    .btn {
        font-size: 16px;
    }

    /* ----------------------------------------- */
    /* 2 Второй блок не трогаю */
    /* ----------------------------------------- */

    /* ----------------------------------------- */
    /* 3 Третий блок */
    /* ----------------------------------------- */
    .exterior-img {
        height: 16rem;
        width: 24rem;
    }

    .exterior-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem;
        max-width: 48rem;
    }

    .exterior-description {
        display: flex;
        flex-direction: column;
    }

    .exterior-block {
        height: 16rem;
        width: 20rem;
        margin-left: 1rem;
    }

    .exterior-block-reverse {
        height: 16rem;
        width: 20rem;
        margin-right: 1rem;
    }

    .exterior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .exterior-span {
        font-size: 16px;
        line-height: 30px;
    }
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для смартфона 320px */
/* Адаптив для смартфона 320px    СТРАНИЦА EXTERIOR */
/* Адаптив для смартфона 320px*/
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {

    body,
    section {
        max-width: 320px;
    }

    /* ----------------------------------------- */
    /*1 Блок */
    /* ----------------------------------------- */
    .btn {
        font-size: 14px;
    }

    /* ----------------------------------------- */
    /*2 Блок */
    /* ----------------------------------------- */
    .container-preview-exterior {
        width: 100%;
        height: 35vh;
    }

    .main-title-exterior {
        height: 6rem;
        font-size: 26px;
    }

    .block-preview-exterior {
        margin-top: 9rem;
        height: 6rem;
    }

    .preview-title-exterior {
        font-size: 10px;
        margin-top: 0.7rem;
    }

    /* ----------------------------------------- */
    /*3 Блок */
    /* ----------------------------------------- */

    .exterior-img {
        height: 12rem;
        width: 19rem;
        max-width: 20rem;
    }

    .exterior-conteiner {
        justify-content: center;
        margin: 0rem;
        max-width: 48rem;
    }

    .exterior-description {
        display: flex;
        flex-direction: column;
    }

    .exterior-block {
        height: 15rem;
        width: 18rem;
        margin-left: 1rem;
    }

    .exterior-block-reverse {
        height: 15rem;
        width: 18rem;
        margin-right: 1.2rem;
    }

    .exterior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .exterior-span {
        font-size: 14px;
        line-height: 30px;
    }

}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для нетбука */
/* Адаптив для нетбука     СТРАНИЦА EXTERIOR */
/* Адаптив для нетбука */
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {

    body,
    section {
        max-width: 1024px;
    }

    /* ПЕРВЫЙ БЛОК НЕ МЕНЯЮ */

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */

    .container-preview-exterior {
        height: 80vh;
    }

    .main-title-exterior {
        height: 7rem;
        font-size: 46px;
    }

    .block-preview-exterior {
        height: 12rem;
    }

    .preview-title-exterior {
        font-size: 30px;
        margin-top: 3rem;
    }

    /* ------------------------------------------------------------- */
    /* Третий блок  */
    /* ----------------------------------------------------------------- */

    .exterior-img {
        height: 16rem;
        width: 28rem;
    }

    .exterior-block {
        height: 20rem;
        width: 34rem;
        margin-left: 1rem;
    }

    .exterior-block-reverse {
        height: 20rem;
        width: 34rem;
        margin-right: 1rem;
    }

    .exterior-h3 {
        font-size: 20px;
        margin-bottom: 1rem;

    }

    .exterior-span {
        font-size: 18px;
        line-height: 40px;



    }

    /* ------------------------------------- */
    /* 4 футер  без изменений*/
    /* --------------------------------------- */
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для планшета */
/* Адаптив для планшета     СТРАНИЦА EXTERIOR */
/* Адаптив для планшета */
/* --------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {

    body,
    section {
        max-width: 768px;
    }

    /* ПЕРВЫЙ БЛОК */

    .btn {
        font-size: 16px;
    }

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */

    .container-preview-exterior {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 55vh;
    }

    .main-title-exterior {
        height: 5rem;
        font-size: 30px;
    }

    .block-preview-exterior {
        height: 10rem;
    }

    .preview-title-exterior {
        margin-top: 2.5rem;
        font-size: 20px;
    }

    /* ----------------------------------------- */
    /* 3 блок */
    /* ----------------------------------------- */

    .exterior-img {
        height: 16rem;
        width: 24rem;
    }

    .exterior-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        max-width: 48rem;
    }

    .exterior-description {
        display: flex;
        margin: 1rem;
    }

    .exterior-block {
        height: 20rem;
        width: 20rem;
        margin-left: 1rem;
    }

    .exterior-block-reverse {
        height: 20rem;
        width: 20rem;
        margin-right: 1rem;
    }

    .exterior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .exterior-span {
        font-size: 16px;
        line-height: 30px;
    }

    /* 4 блок. футер не трогаю */

}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для смартфона 480px */
/* Адаптив для смартфона 480px    СТРАНИЦА EXTERIOR */
/* Адаптив для смартфона 480px*/
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {

    body,
    section {
        max-width: 480px;
    }

    /* ПЕРВЫЙ БЛОК */
    .btn {
        font-size: 16px;
    }

    /* ----------------------------------------- */
    /* 2 Второй блок не трогаю */
    /* ----------------------------------------- */

    /* ----------------------------------------- */
    /* 3 Третий блок */
    /* ----------------------------------------- */
    .exterior-img {
        height: 16rem;
        width: 24rem;
    }

    .exterior-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem;
        max-width: 48rem;
    }

    .exterior-description {
        display: flex;
        flex-direction: column;
    }

    .exterior-block {
        height: 20rem;
        width: 20rem;
        margin-left: 1rem;
    }

    .exterior-block-reverse {
        height: 20rem;
        width: 20rem;
        margin-right: 1rem;
    }

    .exterior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .exterior-span {
        font-size: 16px;
        line-height: 30px;
    }
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для смартфона 320px */
/* Адаптив для смартфона 320px    СТРАНИЦА EXTERIOR */
/* Адаптив для смартфона 320px*/
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {

    body,
    section {
        max-width: 320px;
    }

    /* ----------------------------------------- */
    /*1 Блок */
    /* ----------------------------------------- */
    .btn {
        font-size: 14px;
    }

    /* ----------------------------------------- */
    /*2 Блок */
    /* ----------------------------------------- */
    .container-preview-exterior {
        width: 100%;
        height: 35vh;
    }

    .main-title-exterior {
        height: 6rem;
        font-size: 26px;
    }

    .block-preview-exterior {
        margin-top: 9rem;
        height: 6rem;
    }

    .preview-title-exterior {
        font-size: 10px;
        margin-top: 0.7rem;
    }

    /* ----------------------------------------- */
    /*3 Блок */
    /* ----------------------------------------- */

    .exterior-img {
        height: 12rem;
        width: 19rem;
        max-width: 20rem;
    }

    .exterior-conteiner {
        justify-content: center;
        margin: 0rem;
        max-width: 48rem;
    }

    .exterior-description {
        display: flex;
        flex-direction: column;
    }

    .exterior-block {
        height: 15rem;
        width: 18rem;
        margin-left: 1rem;
    }

    .exterior-block-reverse {
        height: 15rem;
        width: 18rem;
        margin-right: 1.2rem;
    }

    .exterior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .exterior-span {
        font-size: 14px;
        line-height: 30px;
    }

}


/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для нетбука */
/* Адаптив для нетбука     СТРАНИЦА INTERIER */
/* Адаптив для нетбука */
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {

    body,
    section {
        max-width: 1024px;
    }

    /* ПЕРВЫЙ БЛОК НЕ МЕНЯЮ */

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */

    .container-preview-interior {
        height: 80vh;
    }

    .main-title {
        height: 7rem;
        font-size: 46px;
    }

    .block-preview-interior {
        height: 12rem;
    }

    .preview-title-interior {
        font-size: 30px;
        margin-top: 3rem;
    }

    /* ------------------------------------------------------------- */
    /* Третий блок  */
    /* ----------------------------------------------------------------- */

    .interior-img {
        height: 16rem;
        width: 28rem;
    }

    .interior-block {
        height: 20rem;
        width: 34rem;
        margin-left: 1rem;
    }

    .interior-block-reverse {
        height: 20rem;
        width: 34rem;
        margin-right: 1rem;
    }

    .interior-h3 {
        font-size: 20px;
        margin-bottom: 1rem;

    }

    .interior-span {
        font-size: 18px;
        line-height: 40px;



    }

    /* ------------------------------------- */
    /* 4 футер  без изменений*/
    /* --------------------------------------- */
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для планшета */
/* Адаптив для планшета     СТРАНИЦА interior */
/* Адаптив для планшета */
/* --------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {

    body,
    section {
        max-width: 768px;
    }

    /* ПЕРВЫЙ БЛОК */

    .btn {
        font-size: 16px;
    }

    /* ----------------------------------------- */
    /* Второй блок */
    /* ----------------------------------------- */

    .container-preview-interior {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 55vh;
    }

    .main-title {
        height: 5rem;
        font-size: 30px;
    }

    .block-preview-interior {
        height: 10rem;
    }

    .preview-title-interior {
        margin-top: 2.5rem;
        font-size: 20px;
    }

    /* ----------------------------------------- */
    /* 3 блок */
    /* ----------------------------------------- */

    .interior-img {
        height: 16rem;
        width: 24rem;
    }

    .interior-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        max-width: 48rem;
    }

    .interior-description {
        display: flex;
        margin: 1rem;
    }

    .interior-block {
        height: 20rem;
        width: 20rem;
        margin-left: 1rem;
    }

    .interior-block-reverse {
        height: 20rem;
        width: 20rem;
        margin-right: 1rem;
    }

    .interior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .interior-span {
        font-size: 16px;
        line-height: 30px;
    }

    /* 4 блок. футер не трогаю */

}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для смартфона 480px */
/* Адаптив для смартфона 480px    СТРАНИЦА interior */
/* Адаптив для смартфона 480px*/
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {

    body,
    section {
        max-width: 480px;
    }

    /* ПЕРВЫЙ БЛОК */
    .btn {
        font-size: 16px;
    }

    /* ----------------------------------------- */
    /* 2 Второй блок не трогаю */
    /* ----------------------------------------- */

    /* ----------------------------------------- */
    /* 3 Третий блок */
    /* ----------------------------------------- */
    .interior-img {
        height: 16rem;
        width: 24rem;
    }

    .interior-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem;
        max-width: 48rem;
    }

    .interior-description {
        display: flex;
        flex-direction: column;
    }

    .interior-block {
        height: 16rem;
        width: 20rem;
        margin-left: 1rem;
    }

    .interior-block-reverse {
        height: 16rem;
        width: 20rem;
        margin-right: 1rem;
    }

    .interior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .interior-span {
        font-size: 16px;
        line-height: 30px;
    }
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Адаптив для смартфона 320px */
/* Адаптив для смартфона 320px    СТРАНИЦА interior */
/* Адаптив для смартфона 320px*/
/* --------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {

    body,
    section {
        max-width: 320px;
    }

    /* ----------------------------------------- */
    /*1 Блок */
    /* ----------------------------------------- */
    .btn {
        font-size: 14px;
    }

    /* ----------------------------------------- */
    /*2 Блок */
    /* ----------------------------------------- */
    .container-preview-interior {
        width: 100%;
        height: 35vh;
    }

    .main-title {
        height: 6rem;
        font-size: 26px;
    }

    .block-preview-interior {
        margin-top: 9rem;
        height: 6rem;
    }

    .preview-title-interior {
        font-size: 10px;
        margin-top: 0.7rem;
    }

    /* ----------------------------------------- */
    /*3 Блок */
    /* ----------------------------------------- */

    .interior-img {
        height: 12rem;
        width: 19rem;
        max-width: 20rem;
    }

    .interior-conteiner {
        justify-content: center;
        margin: 0rem;
        max-width: 48rem;
    }

    .interior-description {
        display: flex;
        flex-direction: column;
    }

    .interior-block {
        height: 15rem;
        width: 18rem;
        margin-left: 1rem;
    }

    .interior-block-reverse {
        height: 15rem;
        width: 18rem;
        margin-right: 1.2rem;
    }

    .interior-h3 {
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .interior-span {
        font-size: 14px;
        line-height: 30px;
    }

}